<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/cover.css">
        <title>Ubermelon. Melons when you want them.</title>
        <style>
            body {
                background-image: url("/static/img/background.jpg");
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;*/
            }

            div.inner.cover img {
                width: 150px;
            }
        </style>
    </head>
    <body>


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
<!--
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          -->
          <div class="inner cover">
              <img src="/static/img/ubermelonsmall.png">
              <h1 class="cover-heading">Ubermelon.</h1>
            <p class="lead">Melons when you want them.
            <p class="lead">
            <a href="/melons" class="btn btn-lg btn-default">Shop Now</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
                <p>Copyright Ubermelon 2014. All rights reserved.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


<!--
        <h1>Melons when you want them.</h1>
        <h2><a href="/melons">Shop now.</a></h2>
-->
    </body>
</html>
